.markdown-body {
	--fgColor-default: theme(textColor.base-content)!important;
	--bgColor-default: theme(colors.transparent)!important;
	--borderColor-default: theme(colors.base-content)!important;
	--borderColor-muted: var(--borderColor-default)!important;
	table tr:nth-child(2n) {
		background-color: unset!important;
	}
	ol, ul, menu {
		list-style: revert;
	}
	ol {
		/* list-style-type: decimal; */
	}
	table {
		width: auto!important;
	}
	h1, h2, h3, h4, h5, h6 {
		position: relative;
		a {
			position: absolute;
			top: 50%;
			left: -22px;
			display: flex;
			width: 20px;
			height: 20px;
			margin: auto;
			border-radius: var(--borderRadius-medium);
			opacity: 0;
			justify-content: center;
			align-items: center;
			transform: translateY(-50%);
			color: theme(colors.base-content);
		}
		&:hover {
			a {
				opacity: 1;
			}
		}
	}
}
