@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--keyboard-active-color: theme("colors.gray.300");
		scroll-padding-top: var(--header-height);
		scroll-behavior: smooth;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
