@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--keyboard-active-color: theme("colors.gray.300");
		scroll-behavior: smooth;
	}
	/* https://stackoverflow.com/questions/65929206/sticky-header-input-scrolls-on-input */
	:target {
		scroll-margin-top: var(--header-height);
	}
}


@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
