
:root {
	--font-color-inactive: theme(textColor.gray.500);
	--font-color-active: theme(textColor.black);
	--font-color-error: theme(textColor.rose.500);
}

@media (prefers-color-scheme: dark) {
  :root {
		--font-color-inactive: #3f3f3f;
		--font-color-active: #ffffff;
  }
}
