@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./styles/_variables.css";
@import "./styles/_animation.css";

@layer base {
  :root {
    --keyboard-active-color: theme("colors.gray.300");
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

	.list-active {
		background-color: var(--fallback-bc, oklch(var(--bc) / 0.1));
	}
}



@media (prefers-color-scheme: light) {
	.markdown-body, [data-theme="light"] {
		--bgColor-default: theme(colors.transparent)!important;
	}
}


.markdown-body {
	ol, ul, menu {
		list-style: unset;
		margin: unset;
		padding: unset;
	}
	ol {
		list-style-type: decimal;
	}
}
