@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./styles/_variables.css";
@import "./styles/_animation.css";

@layer base {
  :root {
    --keyboard-active-color: theme("colors.gray.300");
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.markdown-body {
	--fgColor-default: theme(textColor.base-content)!important;
	--bgColor-default: theme(colors.transparent)!important;
	ol, ul, menu {
		list-style: unset;
		margin: unset;
		padding: unset;
	}
	ol {
		list-style-type: decimal;
	}
}
